body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: red;
    background-image: url(images/fon-menu.png);
    background-size: 75%;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
}



.play {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    
}

.play img {
    width: 200px;
    height: auto;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.play img:active {
    transform: scale(0.95);
}